USE [master]
GO
/****** Object:  Database [Cine Beta]    Script Date: 22/1/2020 14:23:22 ******/
CREATE DATABASE [Cine Beta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cine Beta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Cine Beta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cine Beta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Cine Beta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cine Beta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cine Beta]
GO
/****** Object:  Table [dbo].[Butaca]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Butaca](
	[Nro] [int] NOT NULL,
 CONSTRAINT [PK_Butaca] PRIMARY KEY CLUSTERED 
(
	[Nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Caja]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caja](
	[Nro] [int] NOT NULL,
 CONSTRAINT [PK_Caja] PRIMARY KEY CLUSTERED 
(
	[Nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cargo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clasificacion]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clasificacion](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Clasificacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Nit_Ci] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Celular] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Nit_Ci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Costo_Ticket]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Costo_Ticket](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Precio] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Costo_Ticket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad_Tickets] [int] NOT NULL,
	[Subtotal] [decimal](6, 2) NOT NULL,
	[fk_Nro_Factura] [int] NOT NULL,
 CONSTRAINT [PK_Detalle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ci] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido_Paterno] [nvarchar](50) NOT NULL,
	[Apellido_Materno] [nvarchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Celular] [int] NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado_Cargo]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado_Cargo](
	[fk_Id_Empleado] [int] NOT NULL,
	[fk_Id_Cargo] [int] NOT NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Fin] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado_Turno_Caja]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado_Turno_Caja](
	[fk_Id_Empleado] [int] NOT NULL,
	[fk_Id_Turno] [int] NOT NULL,
	[fk_Id_Caja] [int] NULL,
	[Fecha] [date] NOT NULL,
	[Rating] [decimal](4, 2) NULL,
	[Observacion] [nvarchar](500) NULL,
	[Caja_Chica] [decimal](6, 2) NULL,
	[Cierre_Caja] [decimal](6, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Nro] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Emision] [datetime] NOT NULL,
	[Total] [decimal](6, 2) NOT NULL,
	[fk_Id_Tipo_Pago] [int] NOT NULL,
	[fk_Id_Empleado] [int] NOT NULL,
	[fk_Nit_Ci_Cliente] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[Nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcion]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Hora_Fecha] [datetime] NOT NULL,
	[fk_Id_Empleado] [int] NOT NULL,
	[fk_Id_pelicula] [int] NOT NULL,
 CONSTRAINT [PK_Funcion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nro_Tarjeta]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nro_Tarjeta](
	[Nro] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Nro_Tarjeta] PRIMARY KEY CLUSTERED 
(
	[Nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Genero] [nvarchar](50) NOT NULL,
	[Duracion] [time](7) NOT NULL,
	[Fecha_Estreno] [date] NOT NULL,
	[Imagen] [image] NOT NULL,
	[fk_Id_Clasificacion] [int] NOT NULL,
 CONSTRAINT [PK_Pelicula] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocion]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocion](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Dia] [nvarchar](50) NOT NULL,
	[Descuento] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Promocion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocion_Tipo_Pago]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocion_Tipo_Pago](
	[fk_Id_Promocion] [int] NOT NULL,
	[fk_Id_Tipo_Pago] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[Nro] [int] NOT NULL,
	[Capacidad] [int] NOT NULL,
 CONSTRAINT [PK_Sala] PRIMARY KEY CLUSTERED 
(
	[Nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tarjeta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta_Nro_Tarjeta]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta_Nro_Tarjeta](
	[fk_Id_Tarjeta] [int] NOT NULL,
	[fk_Nro_Tarjeta] [nvarchar](50) NOT NULL,
	[fk_Nit_Ci_Cliente] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Nro] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Precio_Final] [decimal](4, 2) NOT NULL,
	[fk_Id_Costo] [int] NOT NULL,
	[fk_Id_Funcion] [int] NOT NULL,
	[fk_Id_Detalle] [int] NOT NULL,
	[fk_Id_Promocion] [int] NULL,
	[fk_Nro_Butaca] [int] NOT NULL,
	[fk_Nro_Sala] [int] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Nro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_De_Pago]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_De_Pago](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo_De_Pago] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 22/1/2020 14:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Hora_Inicio] [time](7) NULL,
	[Hora_Fin] [time](7) NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Butaca] ([Nro]) VALUES (1)
INSERT [dbo].[Butaca] ([Nro]) VALUES (2)
INSERT [dbo].[Butaca] ([Nro]) VALUES (3)
INSERT [dbo].[Caja] ([Nro]) VALUES (1)
INSERT [dbo].[Caja] ([Nro]) VALUES (2)
INSERT [dbo].[Caja] ([Nro]) VALUES (3)
INSERT [dbo].[Cargo] ([Id], [Nombre]) VALUES (1, N'Administrador de Cartelera')
INSERT [dbo].[Cargo] ([Id], [Nombre]) VALUES (2, N'Supervisor de Cajeros')
INSERT [dbo].[Cargo] ([Id], [Nombre]) VALUES (3, N'Cajero')
INSERT [dbo].[Clasificacion] ([Id], [Nombre]) VALUES (1, N'A')
INSERT [dbo].[Clasificacion] ([Id], [Nombre]) VALUES (2, N'A+13')
INSERT [dbo].[Clasificacion] ([Id], [Nombre]) VALUES (3, N'A+16')
INSERT [dbo].[Cliente] ([Nit_Ci], [Nombre], [Apellido], [Celular]) VALUES (N'10203040', N'Cosme', N'Fulanito', 71234567)
INSERT [dbo].[Cliente] ([Nit_Ci], [Nombre], [Apellido], [Celular]) VALUES (N'11121314', N'Elva', N'Zurita', 76543217)
INSERT [dbo].[Cliente] ([Nit_Ci], [Nombre], [Apellido], [Celular]) VALUES (N'11223344', N'Lola', N'Mento', 71625347)
INSERT [dbo].[Costo_Ticket] ([Id], [Nombre], [Precio]) VALUES (1, N'2D', CAST(35.00 AS Decimal(4, 2)))
INSERT [dbo].[Costo_Ticket] ([Id], [Nombre], [Precio]) VALUES (2, N'3D', CAST(55.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Detalle] ON 

INSERT [dbo].[Detalle] ([Id], [Cantidad_Tickets], [Subtotal], [fk_Nro_Factura]) VALUES (1, 2, CAST(70.00 AS Decimal(6, 2)), 1)
SET IDENTITY_INSERT [dbo].[Detalle] OFF
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([Id], [Ci], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Edad], [Celular], [Direccion], [Password], [Estado]) VALUES (1, N'1234567', N'Alan', N'Brito', N'Delgado', 25, 72222222, N'Beijin No 222', N'1234', N'Activo')
INSERT [dbo].[Empleado] ([Id], [Ci], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Edad], [Celular], [Direccion], [Password], [Estado]) VALUES (2, N'2211224', N'Aquiles', N'Bailo', N'Rico', 26, 73333333, N'Tadeo Haenke No 564', N'4321', N'Activo')
INSERT [dbo].[Empleado] ([Id], [Ci], [Nombre], [Apellido_Paterno], [Apellido_Materno], [Edad], [Celular], [Direccion], [Password], [Estado]) VALUES (4, N'3322113', N'Armando', N'Casas', N'Sola', 30, 61234567, N'America No 234', N'1111', N'Activo')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
INSERT [dbo].[Empleado_Cargo] ([fk_Id_Empleado], [fk_Id_Cargo], [Fecha_Inicio], [Fecha_Fin]) VALUES (1, 1, CAST(N'2020-01-15' AS Date), NULL)
INSERT [dbo].[Empleado_Cargo] ([fk_Id_Empleado], [fk_Id_Cargo], [Fecha_Inicio], [Fecha_Fin]) VALUES (2, 2, CAST(N'2020-01-16' AS Date), NULL)
INSERT [dbo].[Empleado_Cargo] ([fk_Id_Empleado], [fk_Id_Cargo], [Fecha_Inicio], [Fecha_Fin]) VALUES (4, 3, CAST(N'2020-01-17' AS Date), NULL)
INSERT [dbo].[Empleado_Turno_Caja] ([fk_Id_Empleado], [fk_Id_Turno], [fk_Id_Caja], [Fecha], [Rating], [Observacion], [Caja_Chica], [Cierre_Caja]) VALUES (1, 1, NULL, CAST(N'2020-01-20' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[Empleado_Turno_Caja] ([fk_Id_Empleado], [fk_Id_Turno], [fk_Id_Caja], [Fecha], [Rating], [Observacion], [Caja_Chica], [Cierre_Caja]) VALUES (2, 1, NULL, CAST(N'2020-01-20' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[Empleado_Turno_Caja] ([fk_Id_Empleado], [fk_Id_Turno], [fk_Id_Caja], [Fecha], [Rating], [Observacion], [Caja_Chica], [Cierre_Caja]) VALUES (4, 1, 1, CAST(N'2020-01-20' AS Date), NULL, NULL, CAST(200.00 AS Decimal(6, 2)), CAST(5000.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([Nro], [Fecha_Emision], [Total], [fk_Id_Tipo_Pago], [fk_Id_Empleado], [fk_Nit_Ci_Cliente]) VALUES (1, CAST(N'2020-01-20T18:40:00.000' AS DateTime), CAST(70.00 AS Decimal(6, 2)), 1, 4, N'10203040')
SET IDENTITY_INSERT [dbo].[Factura] OFF
SET IDENTITY_INSERT [dbo].[Funcion] ON 

INSERT [dbo].[Funcion] ([Id], [Tipo], [Hora_Fecha], [fk_Id_Empleado], [fk_Id_pelicula]) VALUES (2, N'2D', CAST(N'2020-01-20T19:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Funcion] OFF
INSERT [dbo].[Nro_Tarjeta] ([Nro]) VALUES (N'4491327531040492')
SET IDENTITY_INSERT [dbo].[Pelicula] ON 

SET IDENTITY_INSERT [dbo].[Pelicula] OFF
INSERT [dbo].[Promocion] ([Id], [Nombre], [Dia], [Descuento]) VALUES (1, N'2x1', N'miercoles', CAST(0.50 AS Decimal(4, 2)))
INSERT [dbo].[Sala] ([Nro], [Capacidad]) VALUES (1, 20)
INSERT [dbo].[Sala] ([Nro], [Capacidad]) VALUES (2, 30)
INSERT [dbo].[Sala] ([Nro], [Capacidad]) VALUES (3, 40)
INSERT [dbo].[Tarjeta] ([Id], [Nombre]) VALUES (1, N'Visa')
INSERT [dbo].[Tarjeta_Nro_Tarjeta] ([fk_Id_Tarjeta], [fk_Nro_Tarjeta], [fk_Nit_Ci_Cliente]) VALUES (1, N'4491327531040492', N'10203040')
INSERT [dbo].[Tipo_De_Pago] ([Id], [Nombre]) VALUES (1, N'Efectivo')
INSERT [dbo].[Tipo_De_Pago] ([Id], [Nombre]) VALUES (2, N'Tarjeta')
INSERT [dbo].[Turno] ([Id], [Nombre], [Hora_Inicio], [Hora_Fin]) VALUES (1, N'Mañana', CAST(N'07:00:00' AS Time), CAST(N'15:00:00' AS Time))
INSERT [dbo].[Turno] ([Id], [Nombre], [Hora_Inicio], [Hora_Fin]) VALUES (2, N'Tarde', CAST(N'15:00:00' AS Time), CAST(N'23:00:00' AS Time))
INSERT [dbo].[Turno] ([Id], [Nombre], [Hora_Inicio], [Hora_Fin]) VALUES (3, N'Noche', CAST(N'19:00:00' AS Time), CAST(N'02:00:00' AS Time))
ALTER TABLE [dbo].[Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura] FOREIGN KEY([fk_Nro_Factura])
REFERENCES [dbo].[Factura] ([Nro])
GO
ALTER TABLE [dbo].[Detalle] CHECK CONSTRAINT [FK_Detalle_Factura]
GO
ALTER TABLE [dbo].[Empleado_Cargo]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Cargo_Cargo] FOREIGN KEY([fk_Id_Cargo])
REFERENCES [dbo].[Cargo] ([Id])
GO
ALTER TABLE [dbo].[Empleado_Cargo] CHECK CONSTRAINT [FK_Empleado_Cargo_Cargo]
GO
ALTER TABLE [dbo].[Empleado_Cargo]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Cargo_Empleado] FOREIGN KEY([fk_Id_Empleado])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Empleado_Cargo] CHECK CONSTRAINT [FK_Empleado_Cargo_Empleado]
GO
ALTER TABLE [dbo].[Empleado_Turno_Caja]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Turno_Caja_Caja] FOREIGN KEY([fk_Id_Caja])
REFERENCES [dbo].[Caja] ([Nro])
GO
ALTER TABLE [dbo].[Empleado_Turno_Caja] CHECK CONSTRAINT [FK_Empleado_Turno_Caja_Caja]
GO
ALTER TABLE [dbo].[Empleado_Turno_Caja]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Turno_Caja_Empleado] FOREIGN KEY([fk_Id_Empleado])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Empleado_Turno_Caja] CHECK CONSTRAINT [FK_Empleado_Turno_Caja_Empleado]
GO
ALTER TABLE [dbo].[Empleado_Turno_Caja]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Turno_Caja_Turno] FOREIGN KEY([fk_Id_Turno])
REFERENCES [dbo].[Turno] ([Id])
GO
ALTER TABLE [dbo].[Empleado_Turno_Caja] CHECK CONSTRAINT [FK_Empleado_Turno_Caja_Turno]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([fk_Nit_Ci_Cliente])
REFERENCES [dbo].[Cliente] ([Nit_Ci])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Empleado] FOREIGN KEY([fk_Id_Empleado])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Empleado]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Tipo_De_Pago] FOREIGN KEY([fk_Id_Tipo_Pago])
REFERENCES [dbo].[Tipo_De_Pago] ([Id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Tipo_De_Pago]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_Empleado] FOREIGN KEY([fk_Id_Empleado])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [FK_Funcion_Empleado]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_Pelicula] FOREIGN KEY([fk_Id_pelicula])
REFERENCES [dbo].[Pelicula] ([Id])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [FK_Funcion_Pelicula]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_Clasificacion] FOREIGN KEY([fk_Id_Clasificacion])
REFERENCES [dbo].[Clasificacion] ([Id])
GO
ALTER TABLE [dbo].[Pelicula] CHECK CONSTRAINT [FK_Pelicula_Clasificacion]
GO
ALTER TABLE [dbo].[Promocion_Tipo_Pago]  WITH CHECK ADD  CONSTRAINT [FK_Promocion_Tipo_Pago_Promocion] FOREIGN KEY([fk_Id_Promocion])
REFERENCES [dbo].[Promocion] ([Id])
GO
ALTER TABLE [dbo].[Promocion_Tipo_Pago] CHECK CONSTRAINT [FK_Promocion_Tipo_Pago_Promocion]
GO
ALTER TABLE [dbo].[Promocion_Tipo_Pago]  WITH CHECK ADD  CONSTRAINT [FK_Promocion_Tipo_Pago_Tipo_De_Pago] FOREIGN KEY([fk_Id_Tipo_Pago])
REFERENCES [dbo].[Tipo_De_Pago] ([Id])
GO
ALTER TABLE [dbo].[Promocion_Tipo_Pago] CHECK CONSTRAINT [FK_Promocion_Tipo_Pago_Tipo_De_Pago]
GO
ALTER TABLE [dbo].[Tarjeta_Nro_Tarjeta]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_Nro_Tarjeta_Cliente] FOREIGN KEY([fk_Nit_Ci_Cliente])
REFERENCES [dbo].[Cliente] ([Nit_Ci])
GO
ALTER TABLE [dbo].[Tarjeta_Nro_Tarjeta] CHECK CONSTRAINT [FK_Tarjeta_Nro_Tarjeta_Cliente]
GO
ALTER TABLE [dbo].[Tarjeta_Nro_Tarjeta]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_Nro_Tarjeta_Nro_Tarjeta] FOREIGN KEY([fk_Nro_Tarjeta])
REFERENCES [dbo].[Nro_Tarjeta] ([Nro])
GO
ALTER TABLE [dbo].[Tarjeta_Nro_Tarjeta] CHECK CONSTRAINT [FK_Tarjeta_Nro_Tarjeta_Nro_Tarjeta]
GO
ALTER TABLE [dbo].[Tarjeta_Nro_Tarjeta]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_Nro_Tarjeta_Tarjeta] FOREIGN KEY([fk_Id_Tarjeta])
REFERENCES [dbo].[Tarjeta] ([Id])
GO
ALTER TABLE [dbo].[Tarjeta_Nro_Tarjeta] CHECK CONSTRAINT [FK_Tarjeta_Nro_Tarjeta_Tarjeta]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Butaca] FOREIGN KEY([fk_Nro_Butaca])
REFERENCES [dbo].[Butaca] ([Nro])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Butaca]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Costo_Ticket] FOREIGN KEY([fk_Id_Costo])
REFERENCES [dbo].[Costo_Ticket] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Costo_Ticket]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Detalle] FOREIGN KEY([fk_Id_Detalle])
REFERENCES [dbo].[Detalle] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Detalle]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Funcion] FOREIGN KEY([fk_Id_Funcion])
REFERENCES [dbo].[Funcion] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Funcion]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Promocion] FOREIGN KEY([fk_Id_Promocion])
REFERENCES [dbo].[Promocion] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Promocion]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Sala] FOREIGN KEY([fk_Nro_Sala])
REFERENCES [dbo].[Sala] ([Nro])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Sala]
GO
USE [master]
GO
